<a routerLink='/' class="btn btn-light btn-sm btn-light-cs mr-2"><i class="fas fa-angle-double-left"></i> Voltar</a>
<a routerLink='/agendar' class="btn btn-primary btn-sm btn-info-cs"><i class="fas fa-sign-in-alt"></i> Cadastrar</a>          

<h3 class="pt-3">{{titulo}}</h3>
<hr>
<div class="row">
  <div class="table table-striped">
    <tr>
      <th>Professor</th>
      <th>Bloco</th>
      <th>Laboratório</th>
      <th>Disciplina</th>
      <th>Data</th>
      <th>Hora</th>
      <th></th>
    </tr>
    <tr>
      <td>Carlos A. S. Moretti</td>
      <td>Bloco 7</td>
      <td>Lab 2</td>
      <td>Análise e Estrutura de Dados</td>
      <td>22/05/2019</td>
      <td>20:00</td>
      <td><a href="#" class="badge badge-info text-white">Participar</a></td>
    </tr>
    <tr>
        <td>Carlos A. S. Moretti</td>
        <td>Bloco 7</td>
        <td>Lab 2</td>
        <td>Análise e Estrutura de Dados</td>
        <td>22/05/2019</td>
        <td>20:00</td>
        <td><a href="#" class="badge badge-info text-white">Participar</a></td>
      </tr>
      <tr>
          <td>Carlos A. S. Moretti</td>
          <td>Bloco 7</td>
          <td>Lab 2</td>
          <td>Análise e Estrutura de Dados</td>
          <td>22/05/2019</td>
          <td>20:00</td>
          <td><a href="#" class="badge badge-info text-white">Participar</a></td>
        </tr>
        <tr>
            <td>Carlos A. S. Moretti</td>
            <td>Bloco 7</td>
            <td>Lab 2</td>
            <td>Análise e Estrutura de Dados</td>
            <td>22/05/2019</td>
            <td>20:00</td>
            <td><a href="#" class="badge badge-info text-white">Participar</a></td>
          </tr>
          <tr>
              <td>Carlos A. S. Moretti</td>
              <td>Bloco 7</td>
              <td>Lab 2</td>
              <td>Análise e Estrutura de Dados</td>
              <td>22/05/2019</td>
              <td>20:00</td>
              <td><a href="#" class="badge badge-info text-white">Participar</a></td>
            </tr>
  </div>
</div>